* {
    padding: 0;
    margin: 0;
}

/* HEADER SECTION */
header {
    height: 12vh;
    width: 100vw;
    display: flex;
    background-image: linear-gradient(to right, rgb(3, 3, 160), rgb(82, 70, 255));
}

.header-image {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image img {
    width: 5.5rem;
    float: left;
}

.header-image p {
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    padding: 1rem;
}

.header-nav a:hover {
    color: rgb(255, 185, 56);
}

/* HEADER SECTION - DROPDOWN */

.dropdown .dropbtn {
    font-size: 1.1rem;
    font-family: serif;
    color: white;
    background-color: inherit;
    border: none;
    padding: 1rem;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #001fac;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(82, 70, 255);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn:hover {
    cursor: pointer;
    color: rgb(255, 185, 56);
  }

  /* MAIN-BODY SECTION */

.main-body {
    height: 90vh;
    background-color: orange;
}

  /* FOOTER SECTION */

footer {
    height: 12vh;
    background-color: black;
}